body {
  background-image: url(./background.jpe);
background-repeat: no-repeat;
background-attachment: fixed;
}

.one > div {
  height: 100%;
  padding: 10px;
}

header {
  background-color: #5e95e4;
  color: white;
  border: 5px solid white;
  text-align: center;
  height: 10%;
  letter-spacing: 5px;

}
h1 {
  font-size: 20px;
  color: #dc1667;
}

button {
  width: 20px;
  height: 10px;
  /* position: static; */
  top: 50px;
}

button {
  background-color: #1667dc;
  color: white;
  text-decoration: none;
}

.two {
  width: 90%;
}

.two > theader,
th,
td {
  border: 1px solid black);
  border-collapse: collapse;
  background-color: #dcd261;
  text-align: center;
}

#table {
  border: 2px solid rgb(0, 0, 0);
}

#city {
  color: #0e72f0;
  font-weight: bolder;
}

ul > li {
  font-style: italic;
  color: #0ef074;
}

.three{
  position: static;
}

footer {
  background-color: #5e95e4;
  color: white;
  border: 5px solid white;
  text-align: center;
  letter-spacing: 5px;
  height: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
